.lead {
  max-width: 984px;
  /* если вы считаете что падинг не нужен, то я делал по макету и там такие отступы */
  padding: 0 132px 0 164px;
}

@media screen and (max-width: 1280px) {
  .lead {
    padding: 0;
    margin: 0 auto;
  }
}


