.footer__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  transition: opacity .3s linear;
}

.footer__link:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .footer {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

