.cover {
  max-width: 1184px;
  height: 740px;
  margin: 0 auto;
  padding: 92px 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    width: 1024px;
    max-height: 640px;
  }
}

@media screen and (min-width: 322px) and (max-width: 1023px) {
  .cover {
    width: 100%;
    max-height: 480px;
    padding: 88px 0;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    width: 100%;
    max-height: 200px;
    padding: 64px 0;
  }
}
