.cover__background {
  max-width: 100%;
  min-height: 740px;
  background: 
    linear-gradient(rgba(42, 44, 47, .3),  rgba(42, 44, 47,  .3) ), 
    url(../../../images/cover/cover-trains.jpg);
  background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;   
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

