.footer {
  margin: 0 auto;
  max-width: 1184px;
  padding: 0 48px 24px 48px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 831px) and (max-width: 1023px) {
  .footer {
    padding: 0 24px 24px 24px;
  }
}

@media screen and (max-width: 830px) {
  .footer {
    flex-direction: column;
    padding: 0 16px 24px 16px;
  }
}
